<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <p>This page was rendered at <%= new Date() %>!</p>
        <p>Enter Url to shorten</p>
        Your url: <input type="url" id="inputURL" value="www.bing.com">
        <button id="submitURL">Get shortened url!</button>

        <br></br>

        <p>Enter Hash to decrypt</p>
        Your url: <input id="inputHash" value="WoD4wDddC0vseEuy">
        <button id="submitHash">Get url!</button>

    </body>
</html>