<!DOCTYPE html>
<html>
    <head>
        <title>My new app</title>
    </head>
    <body>
        <p>This page was rendered at <%= new Date() %>!</p>
        <p>Enter Url to shorten</p>
        Your url: <input type="url" id="inputURL" value="www.bing.com">


        <button id="submit">Get shortened url!</button>

        <script src="script.js"></script>
    </body>
</html>